.card {
    border-color:seagreen;
    border-width: 3px;
    background-color:  #493e3f;
}

#show-title {
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
}

.btn-outline-light {
    margin-bottom: 15px;
}