.btn {
    background-color: #005e66 ;
    color: white;
}

#sign-in {
    color: #00181a;
}

.forgot-password {
    margin-top: 15px;
}

p {
    font-weight: bold;
}

.form-height {
    height: 560px;
}