.footer {
  min-height: 100px;
  background: #e5e5e5;
  position: relative;
  background-color: seagreen;
  }

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background-color: #493e3f;
  font-weight: bold;
}