/* This results Css was taken from a demo on Youtube*/
/* https://www.youtube.com/watch?v=l7ANPZkiWBo*/

.results {
  display: grid;
  margin: 20px 50px 20px 50px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 25px;
  
}

.results > .h2 {
  text-align: center;
  font-family: 'Mulish', sans-serif;

}
