#user-color {
    border-color:#00181a;
    border-width: 3px;
    margin-bottom: 10px;
    
}

.card-header {
    background-color:#66005e;
}

#user-color {
    background-color: #007680;
}

#show-title {
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
}

.btn-outline-light {
    margin-bottom: 15px;
}