.jumbotron {
    margin-left: 25px;
    margin-right: 25px;
    background-color: #1e1813;
}
.btn {
      background-color:  #005e66;
      font-family: 'Mulish', sans-serif;
      font-weight: bold;
  }

.badge-pill {
      background-color: #002f33;
      font-weight:bold;
  }

#show-details {
    font-family: 'Mulish', sans-serif;
}

.card {
    font-family: 'Mulish', sans-serif;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

h4 {
    font-weight: bold;
}
.wrapper {
    margin: 15px;
    font-family: 'Mulish', sans-serif;

}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }