.jumbotron {
    margin-left: 25px;
    margin-right: 25px;
    background-color: #1e1813;
}
.btn {
      background-color:  #005e66;
      font-weight: bold;
  }

.badge-pill {
      background-color: #002f33;
      font-weight:bold;
  }

#show-details {
    font-family: 'Mulish', sans-serif;
}

.card {
    font-family: 'Mulish', sans-serif;
}

h2 {
    font-weight: bold
}