.jumbotron {
    margin-left: 25px;
    margin-right: 25px;
    background-color: #1e1813;
}
.btn {
      background-color:  #005e66;
      font-weight: bold;
  }

.img-fluid {
    width: 100%;
    background-size: cover;
    opacity: 0.1;
  }

.badge-pill {
      background-color: #002f33;
      font-weight:bold;
  }

  .card-header {
    background-color:#66005e;
    font-weight: bold;
}

#show-details {
    font-family: 'Mulish', sans-serif;
}

h3 {
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
}